.background-main{
  position: absolute;
  bottom:0;
  left: 0;
  z-index: -100;
}
.App{
  overflow: hidden;
}
.image-container{
  z-index: 100;
}
.App>h2{
  letter-spacing: 3px;
  font-weight: 500;
  color:#262a94;
  width: fit-content;
  margin:0 auto;
  margin-top: 3rem;
}